<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="strCon" connectionString="SERVER=sql.bsite.net\MSSQL2016;USER=longtt_ptpmud;PASSWORD=123456;DATABASE=longtt_ptpmud"
   providerName="System.Data.SqlClient" />
  <add name="Project2.Properties.Settings.longtt_ptpmudConnectionString"
   connectionString="Data Source=sql.bsite.net\MSSQL2016;Initial Catalog=longtt_ptpmud;User ID=longtt_ptpmud"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>